@import "https://fonts.googleapis.com/css?family=Roboto:400,700";

body {
	margin: 0 auto;
	max-width: 50em;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	padding: 4em 1em;
	color: #555;
}

h2 {
	margin-top: 1em;
	padding-top: 1em;
}


label {
	display: inline-block;
	float: left;
	clear: left;
	width: 20em;
	text-align: right;
}

input,
textarea {
	display: inline-block;
	float: left;
	margin: 0 1em;
}

input[type="radio"],
input[type="checkbox"],
input[type="image"] {
	vertical-align: baseline;
	margin: .5em;
}
